@model SB.ViewModels.BookVM
@{
    SwapBookDbContext swapBookDbContext = new SwapBookDbContext();
    List<string> categories = new List<string>();
    foreach (var cat in swapBookDbContext.Catalogs)
    {
        categories.Add(cat.Value.ToString());
    }
    
}
@using (@Html.BeginForm("Index", "NewBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  
    <p>
        <input type="file" name="files" multiple /> 
    </p>
    <p>
        @Html.LabelFor(m => m.Title, "Title")<br />
        @Html.EditorFor(m => m.Title)
    </p>
    <p>
        @Html.LabelFor(m => m.Author, "Author")<br />
        @Html.EditorFor(m => m.Author)
    </p>
    <p>
        @Html.LabelFor(m => m.Swap, "Swap")<br />
        @Html.CheckBoxFor(m => m.Swap,true)
    </p>
    <p>
        @Html.LabelFor(m => m.Price, "Price")<br />
        @Html.EditorFor(m => m.Price)
    </p>
    <p>
        @Html.LabelFor(m => m.Info, "Info")<br />
        @Html.TextAreaFor(mbox=>mbox.Info)
    </p>

   <p>
        @Html.DropDownList("idCatalog", new SelectList(categories), "Choose the category")
   </p> 
   <p>
        <input type="submit" value="Send" />
   </p>
    
}
